---
import SnappyIcon from '/images/icon-snappy-process.svg';
import AffordIcon from '/images/icon-affordable-prices.svg';
import PeopleIcon from '/images/icon-people-first.svg';
---

<section class="pt-40 relative">
  <div class="text-center relative top-divider">
    <h1 class="font-dmSerifDisplay text-[2.5rem] mb-10 text-[--clr-neutral-01]">We’re different</h1>
    <ul class="[&>li]:my-16 w-[90%] mx-auto">
      <li class="flex flex-col items-center">
        <img src={SnappyIcon} alt='Snappy Lightning Icon' />
        <h2 class="font-dmSerifDisplay text-2xl mt-8 mb-4 text-[--clr-neutral-01]">Snappy Process</h2>
        <p class="font-karla text-[--clr-neutral-02]">
          Our application process can be completed in minutes, not hours. Don't
          get stuck filling in tedious forms.
        </p>
      </li>
      <li class="flex flex-col items-center">
        <img src={AffordIcon} alt='Affordable Money Icon' />
        <h2 class="font-dmSerifDisplay text-2xl mt-8 mb-4 text-[--clr-neutral-01]">Affordable Prices</h2>
        <p class="font-karla text-[--clr-neutral-02]">
          We don't want you worrying about high monthly costs. Our prices may be
          low, but we still offer the best coverage possible.
        </p>
      </li>
      <li class="flex flex-col items-center">
        <img src={PeopleIcon} alt='Person Icon' />
        <h2 class="font-dmSerifDisplay text-2xl mt-8 mb-4 text-[--clr-neutral-01]">People First</h2>
        <p class="font-karla text-[--clr-neutral-02]">
          Our plans aren't full of conditions and clauses to prevent payouts. We
          make sure you're covered when you need it.
        </p>
      </li>
    </ul>
  </div>
</section>
